<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet"  type="text/css" th:href="@{/css/layui.css}">

    <title>Title</title>


</head>
<body>

<form class="layui-form">
    <label class="layui-form-label">输入框</label>
    <div class="layui-input-block">
        <input type="text" name="" placeholder="请输入" autocomplete="off" class="layui-input">
    </div>
</form>
<div id="message" th:text="${message}" >Hello,Word!</div>
<a th:href="@{'/table'}">跳转表格 </a>
<button type="button" class="layui-btn" id="button" >默认按钮</button>
<!--<div th:text="${}" >Hello,Word!</div>-->
<input type="button" id="change"  th:value="s">

</body>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/layui.js}"></script>
<script>
layui.use('layer',function () {


    $(function () {
        // $.getElementById("button").on("click",click)
        $("#button").on("click",click);

    })

    function change() {

        $.get("change",function (data) {
            console.log(data)
            $("#message").html(data)
        })
    }


    function click() {
        layer.open({
            type: 2,
            title: 'layer mobile页',
            shadeClose: true,
            shade: 0.8,
            area: ['380px', '90%'],
            content: '/table' //iframe的url
        });
    }
})



</script>
</html>
